# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

android/.gradle/
android/app/debug.keystore
android/**/build/
android/app/build/
android/local.properties

# keep ignoring build outputs but include native resource files:
[.gradle](http://_vscodecontentref_/10)
android/**/build/
android/app/build/
[local.properties](http://_vscodecontentref_/11)

# Track the app res folder and everything under it
!android/app/src/main/res/
!android/app/src/main/res/**

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

eas.local.json
# typescript
*.tsbuildinfo

app-example
builds/

*.log
build*.json
*.apk
scratch/

*.ogg

credentials.json
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

assets/generated-icons/
docs/internal/
scripts/internal/
assets/audio/*/archive/

filesystem/
