name: Deploy Android Preview

on:
  workflow_call:
    secrets:
      FIREBASE_APP_ID:
        required: true
      EXPO_TOKEN:
        required: true
      FIREBASE_TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: true
      TESTERS:
        required: true

jobs:
  deploy-android:
    name: "Deploy to Android"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js and PNPM
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Enable and activate pnpm via Corepack
        run: |
          corepack enable
          corepack prepare pnpm@8.15.5 --activate
          pnpm -v
      - name: Install dependencies
        run: pnpm install
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Confirm EAS login
        run: pnpm eas whoami
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
      - name: Trigger EAS Android build
        id: eas-build-android
        run: |
          pnpm eas build --platform android --profile preview --non-interactive --json > build-result-android.json
          BUILD_URL=$(jq -r '.[0].artifacts.buildUrl' < build-result-android.json)
          echo "BUILD_URL=$BUILD_URL" >> $GITHUB_ENV
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
      - name: Download APK
        run: |
          BUILD_FILE_NAME="app-preview-$(date +'%Y%m%d_%H%M').apk"
          echo "Downloaded APK as $BUILD_FILE_NAME"
          curl -L -o "$BUILD_FILE_NAME" "$BUILD_URL"
          echo "BUILD_FILE_NAME=$BUILD_FILE_NAME" >> $GITHUB_ENV
      - name: Upload to Firebase App Distribution
        run: |
          pnpm exec firebase appdistribution:distribute "$BUILD_FILE_NAME" \
            --app "${{ secrets.FIREBASE_APP_ID }}" \
            --groups mvp-testers \
            --release-notes "Auto-uploaded build from GitHub Actions on $(date +'%Y-%m-%d %H:%M')"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      - name: Notify Slack of build status
        uses: ./.github/actions/notify-slack
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: ${{ job.status }}
          commit-sha: ${{ github.sha }}
          commit-url: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}
          run-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
